* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica;
  text-align: center;
  background-image: url('./images/galaxybackground.jpg');
  background-size: 100%, 100%;
}

h1 {
  font-size: 40px;
  color: Plum;
}

p {
  font-size: 20px;
  font-weight: 200;
  color: DarkOrange;
}

label {
  font-size: 26px;
  font-weight: 200;
  color: DarkOrange;
}

main {
  display: inline-block;
  width: 75%;
}

nav {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  display: inline-block;
  padding: 10px;
  margin: 10px;
  height: 95%;
  border: double 8px DarkOrange;
  border-radius: 30px;
}

a {
  color: white;
}

a:hover {
  color: blue;
}

span {
  font-size: 20px;
  font-weight: 200;
  color: DarkOrange;
}

input {
  font-size: 20px;
  font-weight: 200;
}

select {
  font-size: 20px;
  font-weight: 200;
}

button {
  font-size: 20px;
  font-weight: 200;
}
